Binaries
DerivedDataCache
Intermediate
Saved
Build
Package
Plugins
Content/Assets/
Content/Characters/
Content/StarterContent/
GameplayAbilitySystem_Aura-main



.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
